<div class="searchResCtn">
  <% layout('layouts/boilerplate') %> <% for(let product of products) {%>
  <div class="card">
    <a class="card-heading" href="/products/<%= product._id %> "
      ><h3><%= product.Name %></h3></a
    >
    <img src="<%= product.Images[0] %> " alt="Error" class="card-image" />
    <h5 class="card-price">Price - &#x20B9; <%= product.Price%> per kg</h5>
  </div>
  <% }%>
</div>
